<!--
 * @Author: Zzceaon
 * @Date: 2020-07-31 00:13:08
 * @LastEditTime: 2020-07-31 00:14:55
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Course\Koa2\view\index.ejs
--> 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <%= title %>: 后台传递的值(变量) -->
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>EJS Welcome to <%= title %></p>
</body>
</html>