*
    margin 0
    padding 0
html, body
    height 100%
html
    font-size 10px
    background url(https://images.squarespace-cdn.com/content/v1/55c8073fe4b02a74ffe18e48/1439873128066-W0URH29K5J2MKHDX365P/ke17ZwdGBToddI8pDm48kOQtqSWscu5urao28r8dY1UUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dlTNtIxem-Sf4oXiL6u_rvw9MmnFr-UaZRmno23LXvh8pC969RuPXvt2ZwyzUXQf7Q/reflection_by_yuumei-d8sqdu2.jpg) bottom center
    background-size 100%
.keys
    display -webkit-flex
    display flex
    min-height 100vh
    align-items center
    justify-content center
    .key
        margin 1rem
        border .4rem solid #000
        border-radius 0.5rem
        font-size 1.5rem
        padding 1rem 0.5rem
        width 10rem
        text-align center
        color white
        background rgba(0, 0, 0, .4)
        text-shadow 0 0 .5rem black
        transition all .07s ease
        div
            display block
            font-size 4rem
        .sound
            font-size 1.2rem
            text-transform uppercase
            letter-spacing 0.3rem
            color #ffc600
.down
    border .4rem solid #c52e5a !important
    background rgba(18, 58, 110, .93) !important
    
