* {
  margin: 0;
  padding: 0;
}
.linkage {
  display: flex;
}
nav {
  width: 50px;
}
dt {
  height: 36px;
  /* 吸顶 */
  position: sticky;
  left: 0;
  top: 0;
  /* relative + fixed */
}
dd {
  height: 60px;
}
.tab-detail {
  flex: 1;
  /* flex: flex-grow flex-shrink flex-basis */
  height: 100vh;
  overflow: scroll;
}
.active {
  color: red;
}